### gitignore template
.idea
vue/.idea
vue/node_modules
*.iml
*.log
*.tgz
*/*.tgz
*.db
./config/*.db
*.sqlite
*.sqlite3
out
gen
tmp_logs
tmp
logs
log
cmd
venv
env
build
.venv
.env
*.tar.gz
lastupdate.tmp
GoMessage
*prof
.DS_Store
data
data/*.db
data/*.log
tmp
tmp/
tmp/*

